.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: black;
    }

#footer1 {
    background: black;
}

#footer2 {
    background: black;
}




